.cover {
  height: calc(100vw * 0.925 / 1.6);
  max-height: 740px;
  background-image: url("../../images/cover__trains.jpg");
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    height: calc(100vw / 1.6);
  }
}